<<<<<<< HEAD

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
#schoolLists{
  position:absolute;
  top:226px;
}

=======

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
#schoolLists{
  position:absolute;
  top:226px;
}

>>>>>>> 75fd0c29c762eec98629b0c575c7d62650efb4b2
